body {
    background-color: black;
}

#about,
#contact {
    height: 100vh;
    padding-top: 100px;
}

#projects {
    height: 150vh;
    padding-top: 100px;
}

.card-img-top {
    border: 1px solid black;
}


}
#contactRow1-2 {
    height: 60vh;
    margin-top: 15px;
}
#aboutRow1-1 {
    height: 30vh;
}
#aboutRow1-2 {
    height: 40vh;
}
#projectRow1-3 {
    margin-top: 10px;
}
.navbar {
    background-color: #606060 !important;
}
.nav-item,
.nav-link,
.navbar-brand {
    color: #D6ED17 !important;
}
.nav-item:active {
    text-decoration: underline;
}
#about,
#contact {
    color: white;
    background-color: black;
}
#projects {
    background-color: white;
    color: black;
    margin-left: -15px;
    margin-right: -15px;
}